* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----Nav Bar-----*/
.headernav {
    background: black;
    opacity: 30%;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.nav-toggle-label span, 
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;

}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.nav1 {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    /*--background: black;--*/
    transform: scale(1, 0);
    transition: transform 400ms ease-in-out;
}

.navul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 50px;
}

.nav1 li {
    margin-bottom: 1em;
    margin-left: 1em;
}

.nav1 a {
    color: white;
    font-family: 'Bodoni Moda', serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem; 
}

.nav1 a:hover {
    color: #00FFFF;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

/*----Main Page Photo and Text-----*/
body {
    background-image: url(images/Mainphoto\ final\ webready\ v1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

#mainfont {
    font-family: 'Bodoni Moda', serif;
    color: whitesmoke;
    font-size: 65px;
    opacity: 35%;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
}






/*----Media Queries-----*/


@media (min-width: 370px) {
    body {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #mainfont {
        white-space: pre-wrap
    }
}

@media (min-width: 870px) {
    #mainfont {
        white-space: nowrap;
    }
    .nav-toggle-label {
        /*--display: none;--*/
    }

    .headernav {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }

    .nav1 {
        /*--all: unset;--*/
        /*--grid-column: 3 / 4;--*/
    }

    .navul {
        display: flex;
        justify-content: center;
        margin-right: 115px;
        max-width: 100%;
    }

    .nav1 li {
        margin-left: 3em;
    }

    .nav1 a {
        opacity: 1;
        margin-bottom: 50px;
    }
}








